@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background: #000;
}

.font-display {
  font-family: 'Ruslan Display', serif;
  font-weight: 400;
  font-style: normal;
}
